.social {
  display: flex;
  margin-top: -16px;

  p {
    margin-top: 17px;
    margin-right: 8px;
  }

  .social-icon {
    font-size: 26px;
    color: #000;
    margin-right: 5px;
    margin-top: 15px;
  }

  .social-icon:hover {
    cursor: pointer;
    transition: color 0.2s;
  }

  .linkedin:hover {
    color: #0a66c2;
  }

  .twitter:hover {
    color: #00acee;
  }

  .instagram:hover {
    color: #d62976;
  }

  .github:hover {
    color: gray;
  }

  .gmail:hover {
    color: #ad352a;
  }
}

.company-link {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .modal-default-view {
    margin-top: 5vh;
  }
}
