.modal {
  position: absolute;
  background: #ececed;
  width: 70%;
  margin-top: 10vh;
  max-width: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #31302c;
  border-radius: 10px 10px;
  padding-bottom: 10px;
  z-index: 5;

  .modal-header {
    padding: 5px;
    border-bottom: 2px solid #d0d0cf;
    background-image: linear-gradient(to bottom, #e4e4e4, #d0d0cf);
    border-radius: 10px 10px 0 0;
    display: flex;

    .close-icon {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
      position: absolute;
      visibility: hidden;
      margin-left: 0.4px;
      margin-top: 0.5px;
      transition: all 0.2s ease-in-out;
    }

    .modal-icon {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-left: 5px;
      margin-top: 2px;
    }

    .modal-icon:nth-child(1) {
      cursor: pointer;
      background-color: #fd5e51;
    }

    .modal-icon:nth-child(1):hover > .close-icon {
      visibility: visible;
    }

    .modal-icon:nth-child(2) {
      background-color: #febe03;
    }

    .modal-icon:nth-child(3) {
      background-color: #15cb36;
    }
  }

  .modal-body {
    height: auto;
    max-height: 65vh;
    overflow-y: auto;
    padding: 20px 30px 30px;
    text-align: justify;
  }
}

@media only screen and (max-width: 900px) {
  .modal {
    width: 90% !important;

    .modal-body {
      max-height: 60vh;
    }
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 10px;
  cursor: pointer;
}
